* {
    margin: 0;
    padding: 0;
    }

 body {
     background-color: rgb(140, 206, 223);
 }   

.cabeca {
    padding: 0%;
    margin: 0%;
    background-color: rgb(162, 167, 172);
    width: 100%;
    height: 100px;
}

.logo {
    position: absolute;
    display: inline;
    padding: 0%;
    width: 17%;
}

.listacabeca {
    list-style-type: none;
    margin: 20px 60%;
    position: absolute;
    display: inline-flex;
}

.itemcabeca {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    padding: auto;
}

.fundo {
    margin: 30px;
}

.rodape {
    background-color: rgb(162, 167, 172);
}

.rodape p {
    text-align: center;
}